<div ng-controller="changepasswordController">
    <div class="module-change text-center">
        <div class="module-head my-1">
            <h3>Admin Change Password</h3>
            <span ng-show="showmatchpass">{{matchpass}}</span>
        </div>
        <div class="module-body">
            <form class="form-horizontal row-fluid" method="post" ng-submit="checkpass()">
                
                <table cellpadding="0" cellspacing="0" border="0" class="datatable-1 table mt-2 table-bordered display mx-auto" style="max-width: 60%;">
                    <tr class="control-group">
                        <td class="col-4">
                            <label class="control-label" for="">Current Password</label>
                        </td>
                        <td class="">
                            <input style="width: 100%;" ng-model="form.curPass" type="password" placeholder="Enter your current Password" required>
                        </td>
                    </tr>
                    <tr class="control-group">
                        <td class="col-4">
                            <label class="control-label" for="">Current Password</label>
                        </td>
                        <td class="">
                            <input style="width: 100%;" ng-model="form.curPassA" type="password" placeholder="Enter your current Password again" required>
                        </td>
                    </tr>
                    <tr class="control-group">
                        <td class="col-4">
                            <label class="control-label" for="">New Password</label>
                        </td>
                        <td class="">
                            <input style="width: 100%;" ng-model="form.newPass" type="password" placeholder="Enter your new Password" required>
                        </td>
                    </tr>
                    
                </table>
                <div class="control-group">
                        
                        <button type="submit" name="submit" class="btn btn-secondary">Submit</button>
                        
                    </div>
            </form>
        </div>
    </div>
    
    
    
</div>