<div class="row my-3 mx-auto" style="max-width:70%">
    <div class="col">
        <a href="" style="color: black;"><h3>Admin Portal</h3></a>
    </div>
    <div class="col-2 dropdown">
            <a class="btn dropdown-toggle" href="#" role="button" id="account" data-bs-toggle="dropdown"
                aria-expanded="false">
                Account
            </a>

            <ul class="dropdown-menu" aria-labelledby="account">
                <li><a class="dropdown-item" href="#!/changepassword">Change Password</a></li>
                <li><a class="dropdown-item" href="#">Log Out</a></li>
            </ul>
        </div>
</div>
<hr class="mb-5">