<div class="row my-3 mx-auto" style="max-width:70%">
    <div class="col">
        <a href="" style="color: black;"><h3>Admin Portal</h3></a>
    </div>
    <div class="col-2 dropdown">
        <a href="#">
            <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Admin
            </button>
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Change Password</a></li>
            <li><a class="dropdown-item" href="">Logout</a></li>
        </ul>
    </div>
</div>
<hr class="mb-5">