<div ng-controller="merchantController" class="container">
    <div class="row align-items-center">
      <h1 class="col text-start">Manage merchants</h1>
      <div class="col-3 me-0">
        <button  data-bs-toggle="modal" data-bs-target="#addmerchant"><i class="fa-solid fa-plus"></i> ADD merchant</button>
      </div>

      <!-- ADD merchant -->
    <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="addmerchant" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
              <form action="" class="row" role="form" name="addmerchant" method="post" ng-submit="add()">
                <!-- Modal Header -->
                <div class="modal-header">
                    <div>
                      <h4 class="modal-title ms-3">ADD Merchant</h4>
                      <span id="status"></span>
                    </div>
                    <button type="button" class="btn-close me-3" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body row mx-auto">
                    <!-- merchant NAME -->
                    <div class="form-group mb-3">
                      <label for="merchantname"><strong>Merchant Name</strong></label>
                      <input type="text" ng-model="form.merchantname" id="merchantname" name="merchantname" value="" placeholder="merchantname"
                          class="form-controller" required>
                  </div>

                  <!-- EMAIL -->
                  <div class="col-6 form-group mb-3">
                      <label for="email"><strong>Email</strong></label>
                      <input type="email" ng-model="form.email" id="email" name="email" value="" placeholder="Email"
                          class="form-controller" required>
                  </div>

                  <!-- PHONE -->
                  <div class="col-6 form-group mb-3">
                      <label for="phone"><strong>Phone</strong></label>
                      <input id="phone" ng-model="form.phone" class="form-controller" name="phone" placeholder="Phone Number" ng-pattern="/^(0?)(3[2-9]|5[6|8|9]|7[0|6-9]|8[0-6|8|9]|9[0-4|6-9])[0-9]{7}$/" required>
                  </div>

                  <!-- PASSWORD -->
                  
                    <div class="form-group mb-3">
                          <label for="password"><strong>Password</strong></label>
                          <input id="password" ng-model="form.pass" type="password" class="form-controller" name="password"
                              autocomplete="current-password" placeholder="Password" required>
                      </div>

                    <div class="col-6 form-group mb-3">
                      <label for="type"><strong>Type</strong></label>
                      <input ng-model="form.type" class="form-controller" name="type"placeholder="Type" required>
                    </div>

                  <!-- Zip Code -->
                  <div class="col-6 form-group mb-3">
                      <div>
                          <label for="zipcode"><strong>Zip Code</strong></label>
                          <input id="zipcode" ng-model="form.zipcode" class="form-controller" name="zipcode"
                              placeholder="zipcode" required>
                      </div>
                  </div>
                  
                  <div class="col-6 form-group mb-3">
                      <label for="province"><strong>Province</strong></label>
                      <input id="province" ng-model="form.province" class="form-controller" name="province"
                          placeholder="province" required>
                  </div>
                  <div class="col-6 form-group mb-3">
                      <label for="district"><strong>District</strong></label>
                      <input id="district" ng-model="form.district" class="form-controller" name="district"
                          placeholder="district" required>
                  </div>
              
                  <div class="col-6 form-group mb-3">
                      <label for="commune"><strong>Commune</strong></label>
                      <input id="commune" ng-model="form.commune" class="form-controller" name="commune"
                          placeholder="commune" required>
                      </div>
                  <div class="col-6 form-group mb-3">
                      <label for="address"><strong>Address</strong></label>
                      <input id="address" ng-model="form.address" class="form-controller" name="address"
                          placeholder="address">
                  </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" ng-disabled="addItem.$invalid" class="btn btn-primary">Add</button>
                </div>
              </form>
            </div>
        </div>
    </div> <!-- ADD merchant -->
    </div>



    <div class="module-body table">
      <table cellpadding="0" cellspacing="0" border="0" class="datatable-1 table table-bordered table-striped    display" width="100%">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email </th>
            <th>Phone</th>
            <th>Type</th>
            <th>Address</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="merchant in merchant">
            <td>{{merchant.merchantId}}</td>
            <td>{{merchant.merchantname}}</td>
            <td>{{merchant.email}}</td> 
            <td>{{merchant.phone}}</td>
            <td>{{merchant.type}}</td>
            <td>{{merchant.address}}, {{merchant.commune}}, {{merchant.district}}, {{merchant.province}}</td>
            <td class="px-0 py-auto">
              <button ng-click="edit(merchant.merchantId)" data-bs-toggle="modal" data-bs-target="#editmerchant"><i class="fa-solid fa-pen-to-square"></i></button>
              <button ng-click="remove(merchant,$index)"><i class="fa-regular fa-circle-xmark"></i></button>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="editmerchant" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
              <form action="" class="row" role="form" name="editmerchant" method="post" ng-submit="saveEdit()">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title ms-3">Change merchant Information</h4>
                    <button type="button" class="btn-close me-3" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body row mx-auto">
                    <!-- merchant NAME -->
                    <div class="form-group mb-3">
                      <label for="merchantname"><strong>Merchant Name</strong></label>
                      <input type="text" ng-model="form.merchantname" id="merchantname" name="merchantname" value="" placeholder="Enter Your merchantname"
                          class="form-controller" required>
                  </div>

                  <!-- EMAIL -->
                  <div class="form-group mb-3">
                      <label for="email"><strong>Email</strong></label>
                      <input type="email" ng-model="form.email" id="email" name="email" value="" placeholder="Enter Your Email"
                          class="form-controller" required>
                  </div>

                  <!-- PHONE -->
                  <div class="form-group mb-3">
                      <label for="phone"><strong>Phone</strong></label>
                      <input id="phone" ng-model="form.phone" type="text" class="form-controller" name="phone" placeholder="Enter Your Phone" ng-pattern="/^(0?)(3[2-9]|5[6|8|9]|7[0|6-9]|8[0-6|8|9]|9[0-4|6-9])[0-9]{7}$/" required>
                  </div>
                  <div class="form-group mb-3">
                      <label for="type"><strong>Type</strong></label>
                      <input ng-model="form.type" class="form-controller" name="type"placeholder="Type" required>
                  </div>

                  <!-- PASS -->
                  <div class="form-group mb-3">
                      <div>
                          <label for="zipcode"><strong>Zip Code</strong></label>
                          <input id="zipcode" ng-model="form.zipcode" class="form-controller" name="zipcode"
                              placeholder="zipcode" required>
                      </div>
                  </div>
                  
                  <div class="col-6 form-group mb-3">
                      <label for="province"><strong>Province</strong></label>
                      <input id="province" ng-model="form.province" type="text" class="form-controller" name="province"
                          placeholder="province" required>
                  </div>
                  <div class="col-6 form-group mb-3">
                      <label for="district"><strong>District</strong></label>
                      <input id="district" ng-model="form.district" type="text" class="form-controller" name="district"
                          placeholder="district" required>
                  </div>
              
                  <div class="col-6 form-group mb-3">
                      <label for="commune"><strong>Commune</strong></label>
                      <input id="commune" ng-model="form.commune" type="text" class="form-controller" name="commune"
                          placeholder="commune" required>
                      </div>
                  <div class="col-6 form-group mb-3">
                      <label for="address"><strong>Address</strong></label>
                      <input id="address" ng-model="form.address" type="text" class="form-controller" name="address"
                          placeholder="address">
                  </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
              </form>
            </div>
        </div>
    </div>

    </div>
  </div>
  