<div class="col-2">
    <div class="work p-3">
        <i class="fa-solid fa-gauge"></i>
        <a href="">Dashboard</a>
    </div>
    <div class="work p-3">
        <i class="fa-solid fa-gear"></i>
        <a href="">Order Management</a>
    </div>
    <div class="work p-3 mt-2">
        <i class="fa-solid fa-users"></i>
        <a href="">Manage Users</a>
    </div>
    <div class="work p-3">
        <i class="fa-solid fa-users"></i>
        <a href="">Manage Merchant</a>
    </div>
    <div class="work p-3">
        <i class="fa-solid fa-book"></i>
        <a href="">Create Category</a>
    </div>
    <div class="work p-3">
        <i class="fa-solid fa-copy"></i>
        <a href="">Insert products</a>
    </div>
    <div class="work p-3">
        <i class="fa-solid fa-rectangle-list"></i>
        <a href="">Manage products</a>
    </div>
    <div class="work p-3 mt-2">
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
        <a href="logout.php">Log Out</a>
    </div>
</div>