<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Example - example-example34-production</title>
    
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0-rc.1/angular.min.js"></script>
    <script src="script.js"></script>
    
    
  </head>
  <body ng-app="formExample">
    <div ng-controller="ExampleController">
      <form name="form" class="css-form" novalidate ng-submit="form.$valid && update(user)" >
        Name:
        <input type="text" ng-model="user.name" ng-pattern="/^(0?)(3[2-9]|5[6|8|9]|7[0|6-9]|8[0-6|8|9]|9[0-4|6-9])[0-9]{7}$/" name="uName" required />
        <br />
        <div ng-show="form.$submitted || form.uName.$touched">
          <div ng-show="form.uName.$error.required">Tell us your name.</div>
          <div ng-show="form.uName.$error.pattern">Tell us your name1.</div>
        </div>
        E-mail:
        <input type="email" ng-model="user.email" name="uEmail" required="" />
        <br />
        <div ng-show="form.$submitted || form.uEmail.$touched">
          <span ng-show="form.uEmail.$error.required">Tell us your email.</span>
          <span ng-show="form.uEmail.$error.email">This is not a valid email.</span>
        </div>
        Gender:
        <input type="radio" ng-model="user.gender" value="male" />male
        <input type="radio" ng-model="user.gender" value="female" />female
        <br />
        <input type="checkbox" ng-model="user.agree" name="userAgree" required="" />
        I agree:
        <input ng-show="user.agree" type="text" ng-model="user.agreeSign" required="" />
        <br />
        <div ng-show="form.$submitted || form.userAgree.$touched">
          <div ng-show="!user.agree || !user.agreeSign">Please agree and sign.</div>
        </div>
        <input type="button" ng-click="reset(form)" value="Reset" />
        <input type="submit"  value="Save" />
      </form>
    </div>
  </body>
</html>
<script type="text/javascript">
  (function(angular) {
  'use strict';
  angular.module('formExample', [])
    .controller('ExampleController', ['$scope', function($scope) {
    $scope.master = {};
    $scope.update = function(user) {
      alert('Form is validated and now will be submitted.');
      $scope.master = angular.copy(user);
    };
    $scope.reset = function(form) {
    if (form) {
        form.$setPristine();
        form.$setUntouched();
      }
    $scope.user = angular.copy($scope.master);
  };
  $scope.reset();
  }]);
  })(window.angular);
</script>