    <!-- <link rel="stylesheet" href="../assets/css/boostrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->

    <style>
        .col {
            /* border: 1px solid black; */
        }
    </style>
    
<div ng-controller="aboutController">
    <div class="page-title bg-white-smoke mb-3">
        <h2 class="text-center title-main">About Us</h2>
    </div>
    <div class="row mt-5 text-center justify-content-center">
        <div class="col">
            <img src="https://script.viserlab.com/bidlab/assets/images/frontend/about/60605584c339f1616926084.png" alt="">
        </div>
        <div class="col">
            <h2 class="row mb-5 title-main">About</h2>
            <div class="row mb-3 text-start align-items-center">
                <i class="col col-1 fa-solid fa-shield-heart"></i>
                <div class="col col-8">
                    <h3>Why Choose BidSpirit</h3>
                    <p>We have built over many times in terms of reliability, integrity, transparency, trust, and excellence in the auctioning services.</p>
                </div>
            </div>
            <div class="row mb-3 text-start align-items-center">
                <i class="col col-1 fa-solid fa-bookmark"></i>
                <div class="col col-8">
                    <h3>Daily Bid and Auction</h3>
                    <p>We provide the daily basis bidding. Once a bid is scheduled, you no longer have to worry about keeping an active eye on the auction.</p>                
                </div>
            </div>
            <div class="row mb-3 text-start align-items-center">
                <i class="col col-1 fa-solid fa-face-smile"></i>
                <div class="col col-8">
                    <h3>Satisfaction guarantee</h3>
                    <p>We ensure you 100% satisfaction on bidding, we are most trusted online auction platform, where you can sell all prefreble items with ease.</p>                
                </div>
            </div>
        </div>
    </div>
</div>