<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/boostrap.min.css">

    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/angular.min.js"></script>
	<script src="../assets/js/angular-route.min.js"></script>
	<script src="../assets/js/bootstrap.min.js"></script>
    <script src="../app/controllers/category.js"></script>
	
</head>

<div ng-controller="categoryController">
    <h2 class="text-center">Auction Category</h2> 
</div>