
<div ng-controller="closedController" class="closed py-5">
    <h2 class="text-center pb-5 title-main">Closed Auction</h2>  
    <div class="row text-center justify-content-around pb-5">
            <table class="col-2" ng-repeat="closed in closedauction">
                <thead>
                    <tr>
                        <th>{{closed.productname}}</th>
                    </tr>
                    <tr>
                        <td>{{closed.categoryname}}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr><td class="col"><img src="assets/img/{{closed.productImage1}}" alt="" class="img-fluid" style="max-width: 70%;max-height: 70%;" ></td></tr>
                    <tr class="row">
                        <td class="col">Closed</td>
                        <td class="col">{{closed.username}}</td>
                    </tr>
                </tbody>
            </table>
    </div> 
</div>
