<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/boostrap.min.css">

    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/angular.min.js"></script>
	<script src="../assets/js/angular-route.min.js"></script>
	<script src="../assets/js/bootstrap.min.js"></script>
    <script src="../app/controllers/closed.js"></script>
	
</head>
<style>
    table {
        border: 1px solid black;
    }
    
</style>
<div ng-app="closed" ng-controller="closedController">
    <h2 class="text-center">Closed Auction</h2>  
    <div class="row text-center justify-content-around">
            <table class="col-2" ng-repeat="closed in closedauction">
                <thead>
                    <tr>
                        <th>{{closed.productname}}</th>
                    </tr>
                    <tr>
                        <td>{{closed.categoryname}}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr><td class="col"><img src="../assets/img/{{closed.productImage1}}" alt="" class="img-fluid" style="max-width: 70%;max-height: 70%;" ></td></tr>
                    <tr class="row">
                        <td class="col">Closed</td>
                        <td class="col">{{closed.username}}</td>
                    </tr>
                </tbody>
            </table>
    </div> 
</div>
