<link rel="stylesheet" href="../assets/css/boostrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<style>
    i {
        padding: 1rem; 
        border: 1px solid; 
        background-color:#0f1932;
        border-radius:50%;
        color:#f74a05;
    }
    .col-3 {
        background-color: #0f1932;
        color: #a2aec2;
        border-radius: 7px;
    }
</style>
<div class="controller">
    <div class="row mt-5 mb-5 text-center">
        <h2>Contact us</h2>
    </div>
    
    <div class="row mt-5 justify-content-center">
        <div class="col-3 text-center m-2 py-3">
            <div class="my-3"><i class="fa-regular fa-map"></i></div>
            <div class="my-3"><span class="lead">Hanoi,VietNam</span></div>
        </div>
        <div class="col-3 text-center m-2 py-3">
            <div class="my-3"><i class="fa-solid fa-envelope-open-text"></i></div>
            <div class="my-3"><span class="lead">Hanoi,VietNam</span></div>
        </div>
        <div class="col-3 text-center m-2 py-3" >
            <div class="my-3"><i class="fa-solid fa-phone-volume"></i></div>
            <div class="my-3"><span class="lead">123-456-789</span></div>
        </div>
    </div>
</div>