


<div class="contact">
    <div class="row mt-5 mb-5 text-center">
        <h2>Contact us</h2>
    </div>
    
    <div class="row mt-5 justify-content-center">
        <div class="col-3 text-center m-2 py-3">
            <div class="my-3"><i class="fa-regular fa-map"></i></div>
            <div class="my-3"><span class="lead">Hanoi,VietNam</span></div>
        </div>
        <div class="col-3 text-center m-2 py-3">
            <div class="my-3"><i class="fa-solid fa-envelope-open-text"></i></div>
            <div class="my-3"><span class="lead">Hanoi,VietNam</span></div>
        </div>
        <div class="col-3 text-center m-2 py-3" >
            <div class="my-3"><i class="fa-solid fa-phone-volume"></i></div>
            <div class="my-3"><span class="lead">123-456-789</span></div>
        </div>
    </div>
</div>