

<div ng-controller="liveController" class="live ">
    <div class="page-title bg-white-smoke mb-5">
        <h2 class="text-center title-main">Live Auction</h2>
    </div>  
    <div class="row text-center justify-content-around pb-5">
            <table class="col-md-5 col-lg-2 mb-3 mx-auto" ng-repeat="live in liveauction">
                <thead style="height: 100%;">
                    <tr><th>{{live.productname}}</th></tr>
                </thead>
                <tbody>
                    <tr><td class="col"><img ng-click="bid(live.productId)" src="assets/img/{{live.productImage1}}" alt="" class="img-fluid" style="max-width: 70%;max-height: 70%;" ></td></tr>
                    <tr class="row ms-0 align-items-center" style="max-width: 100%;">
                        <td class="col">{{live.basePrice}}$</td>
                        <td class="col">{{live.endDate}}</td>
                    </tr>
                    <tr>
                        <td><button class="btn btn-default btn-white" ng-click="bid(live.productId)">Bid Now</button></td>
                        <!-- <td><a href="" class="btn btn-default mb-3">Bid Now</a></td> -->
                    </tr>
                </tbody>
            </table>
    </div> 
</div>
