

<div ng-controller="liveController" class="live py-5">
    <h2 class="text-center pb-5 title-main">Live Auction</h2>  
    <div class="row text-center justify-content-around pb-5">
            <table class="col-2" ng-repeat="live in liveauction">
                <thead style="height: 100%;">
                    <tr><th>{{live.productname}}</th></tr>
                </thead>
                <tbody>
                    <tr><td class="col"><img src="assets/img/{{live.productImage1}}" alt="" class="img-fluid" style="max-width: 70%;max-height: 70%;" ></td></tr>
                    <tr class="row ms-0 align-items-center" style="max-width: 100%;">
                        <td class="col">{{live.basePrice}}</td>
                        <td class="col">{{live.endDate}}</td>
                    </tr>
                    <tr>
                        <td><a href="" class="btn btn-default mb-3">Bid Now</a></td>
                    </tr>
                </tbody>
            </table>
    </div> 
</div>
