<head>
    <link rel="stylesheet" href="../assets/css/boostrap.min.css">

    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/angular.min.js"></script>
	<script src="../assets/js/angular-route.min.js"></script>
	<script src="../assets/js/bootstrap.min.js"></script>
    
</head>
<div ng-app="login" ng-controller="LoginController" class="controller">
    <form action="../api/interview/login1.php" method="post">
        <input type="submit" value="Login">
    </form>
</div>