
:root {
    --orange-c: rgb(247, 74, 5);
    --extra-c: rgb(162, 174, 194);
    --extra-ac: #a2aec2;
    --body-c: #0a1227;
    --step-c: #0f1932;
    --border-bc: #282853;
    --font-f: 'Arvo', serif;
    
}

a {
    color: black;
}

..btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 4px 10px;
    font-size: 13px;
    line-height: 1.42857;
    border-radius: 4px;
    user-select: none;
}


a:hover {
    text-decoration: none;
}
.work {
    background-color: #2d2b32;
    color: #767676;
}
.work:hover {
    color: white;
    transition: 0.5s;
}
.work a {
    color: #767676;
}
.work a:hover {
    color: white;
    transition: 0.3s;
}

button:hover {
    color: var(--orange-c)
}

/* .modal-dialog {
    background-color: transparent;
} */

.ordertype a:hover {
    color: var(--orange-c);
}

.ordertype .label b{
    color: red;

}

.work:hover {
    cursor: pointer;
}

.modal-dialog .modal-content {
    background-color: white;
}

.modal h4 {
    color: black;    
}

.modal .form-group {
    display: flex;
    flex-direction: column;
}

.modal .form-group label {
    color: var(--extra-ac);
}

.modal .form-group input {
    color: black;
    border: 1px solid var(--border-bc);
    background-color: transparent;
    width: 100%;
    height: 50px;
    padding: 5px 15px;
    vertical-align: baseline;
    overflow: visible;
}

.modal .form-group input:focus-within {
    border: 1px solid var(--orange-c);
    transition: 0.7s;
    color: black;
}

.module {
    background: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
    -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 1px rgba(0,0,0,0.2);
    box-shadow: 0 0 1px rgba(0,0,0,0.2);
    margin-bottom: 30px
}

.module {
    box-shadow: 0 0 3px rgba(0,0,0,.1);
    border-color: #e9e9e9;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);

}

.module-head {
    color: #767676;
    background-color: #f6f6f6;
    border-color: #e9e9e9;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}


.module-head h3 {
    font-size: 14px;
    line-height: 20px;
    height: 20px;
    margin: 0
}

.module-option {
    border-bottom: 1px solid #e5e5e5;
    padding: 15px 0;
    margin: 0 15px
}


.module-body {
    padding: 15px
}

.module-body.table {
    padding: 15px 0
}

.module-body.table .table th, .module-body.table .table td {
    padding-left: 15px;
    padding-right: 15px
}

.module-foot {
    background: #f9f9f9;
    border-top: 1px solid #ddd;
    -webkit-border-radius: 0 0 2px 2px;
    -moz-border-radius: 0 0 2px 2px;
    border-radius: 0 0 2px 2px;
    padding: 15px
}

.message .module-body {
    padding: 0
}


.insert .control-group label {
    width: 20%;
}

.insert .control-group input, textarea, select {
    width: 50%;
}

.insert .control-group .controls-btn {
    margin-left: 200px;
}

.form-horizontal .control-group {
    margin-top: 13px;
    padding-top: 13px;
    border-top: 1px solid #f5f5f5;
}

