
.modal-backdrop{
    z-index: 0;
}

:root {
    --orange-c: rgb(247, 74, 5);
    --extra-c: rgb(162, 174, 194);
}

a::hover {
    text-decoration: none;
}

body {
    /* background-color: #0a1227; */
    background-color: #0a1227;
    color:white
}

[class*="col"] {  
    border: 1px solid black;
}

[class*="row"] {
    border: 1px solid black;
}

#row-head i {
    color:var(--orange-c);
}

#row-head span {
    color: var(--extra-c);
}

a {
    color:var(--orange-c);
}

a:hover {
    text-decoration: none;
    color: #f6a15c;
}

#header a {
    font-size: 18px;
}




#logo img {
    width: 40%;
    height: 40%;
    color:var(--orange-c);
}

#logo h1 {
    color:var(--orange-c);
}



