
.modal-backdrop{
    z-index: 0;
}

:root {
    --orange-c: rgb(247, 74, 5);
    --extra-c: rgb(162, 174, 194);
    --extra-ac: #a2aec2;
    --body-c: #0a1227;
    --step-c: #0f1932;
    --border-bc: #282853;
    --font-f: 'Arvo', serif;
    --text-light:  #f8f9fa;
    --border-span: #373768;

}

h1, h2, h3, h4, h5 {
    font-family: var(--font-f);
}

a::hover {
    text-decoration: none;
}

body {
    /* background-color: #0a1227; */
    background-color: var(--body-c);
    color:white;
}

/* [class*="col"] {  
    border: 1px solid black;
}

[class*="row"] {
    border: 1px solid black;
} */

#row-head i {
    color:var(--orange-c);
}

#row-head span {
    color: var(--extra-c);
}

a {
    color:var(--orange-c);
}

a:hover {
    text-decoration: none;
    color: var(--orange-c);
    transition: 0.8s;
}


#header a {
    font-size: 18px;
}

#logo img {
    width: 40%;
    height: 40%;
    color:var(--orange-c);
}

#logo h1 {
    color:var(--orange-c);
}
.contact i {
    padding: 1rem; 
        border: 1px solid; 
        background-color:#0f1932;
        border-radius:50%;
        color:#f74a05;
}

.contact .col-3 {
    background-color: #0f1932;
    color: #a2aec2;
    border-radius: 7px;
}

/* ------- DROPDOWN ACCOUNT --------------- */
.dropdown a {
    color: var(--extra-ac);
}

.dropdown-menu {
    color: var(--extra-ac);
    background-color: var(--body-c);
}



.footer {
    
}

.footer p,a,span {
    color: var(--extra-ac);
}

.footer a:hover {
    color: var(--orange-c);
    transition: 0.8s;
}

.footer i {
    color:var(--orange-c);
}

.footer .step {
    background-color: var(--step-c);
    border: 1px solid rgba(247, 74, 5, .5);
    border-radius: 5px;   
}

.footer .step-icon {
    border: 1px solid rgba(247, 74, 5, .5);
    border-radius: 50%;
}

.title-main thead {
    background-color: var(--body-c);
}

table {
    border-radius: 30px;
}

/*  LIVE AUCTION  */

.live, .upcoming {  
    /*.closed, .bid*/
    /*background-color: var(--step-c);*/
    border-bottom: 1px solid var(--border-bc);
}

.live table {
    /* background-color: var(--body-c); */
    border: 1px solid var(--border-bc);
    border-radius: 50%;
}

.upcoming table {
    border: 1px solid var(--border-bc);
    border-radius: 50%;
}

.closed table {
    border: 1px solid var(--border-bc);
    border-radius: 50%;
}

.live img:hover {
    cursor: pointer;
}

.live .btn {
    padding: 8px 20px;
    border: 1px solid #f74a05;
    background-color: #f74a05;
    border-radius: 30px;
    transition: all .4s;
    overflow: hidden;
}

.hero-content-area .btn-default {
    border: 1px solid #f74a05;
    background-color: #f74a05;
}

.btn {
    font-family: "Rubik", sans-serif;
}

.hero-content-area {
    border-bottom: 1px solid var(--border-bc);
}


.hero-content-area p {
    color: var(--extra-c);
}

.btn-default {
    color: white;
    background-color: var(--orange-c);
    padding: 12px 30px;
    border-radius: 30px;
}

.btn-default:hover {
    background-color: var(--body-c);
    border: 1px solid var(--border-bc);
    transition: 0.6s;
}

.title-form {
    width: 100%;
    height: 40vh;
    background-color: var(--step-c);
}

.user-page h4 {
    color: var(--orange-c);    
}

.user-page .form-group {
    display: flex;
    flex-direction: column;
}

.user-page .form-group label {
    color: var(--extra-ac);
}

.user-page .form-group input {
    color: white;
    border: 1px solid var(--border-bc);
    background-color: transparent;
    width: 100%;
    height: 50px;
    padding: 5px 15px;
    vertical-align: baseline;
    overflow: visible;
}

.user-page .form-group input:focus-within {
    border: 1px solid var(--orange-c);
    transition: 0.7s;
    color: white;
}

.remember-and-password {

}

.page-title {
    padding: 110px 0 115px;
    position: relative;
    overflow: hidden;
    background-position: 50% 35%;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-white-smoke {
    background-color: var(--step-c);
}

/*BID PRODUCT*/

.bid .col-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.product-main-img-area .product-main-img {
    border: 1px solid var(--border-bc);
}

img {
    vertical-align: middle;
}

.product-main-img img {
    max-width: 50%;
    max-height: 50%;
}

.product-slider-area {
    display: flex;
    width: 70%;
}

.active-gallery {
    flex: 1;
    margin: 14px 10px 10px 10px;

}

.active-gallery img {
    width: 100%;
    height: 75%;
    object-fit: cover;
    border: 1px solid var(--border-bc);
    padding: 6px;
    
}

#bid-btn {
    font-weight: 600;
    font-size: 12px;
    color: white;
    background-color: var(--orange-c);
    padding: 7px 20px;
    border-radius: 30px;
}

#bid-btn:hover {
    background-color: var(--body-c);
    border: 1px solid var(--border-bc);
    transition: 0.6s;
}

button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
}

.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

.bid label {
    color: #a2aec2;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
}

#bidModal {
    padding:  0;
}

.btn-bid-submit {
    font-size: 12px;
    color: white;
    background-color: var(--orange-c);
}

.bid .bid-price-time-area {
    border-bottom: 1px solid var(--border-bc);
}

.form-controller {
    border-radius: 5px;
    border: 1px solid #373768;
    background-color: transparent;
    width: 100%;
    height: 50px;
    outline: none;
    padding: 5px 15px;
    color: #a2aec2;
}

.custom_border_span {
    border: 1px solid var(--border-span);
}

.text-light {
    color: var(--text-light);!important;
}


.bid-usd {
    border: none;
    display: flex;
    -webkit-box-align: center;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
}

/*.nav {
        flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}*/

.bid .filter-info-tab .nav-tabs {
    background-color: var(--step-c);
    border: 0px solid;
    overflow: hidden;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.bid .item-info-area .filter-info-tab .nav-tabs div {
    border-right: 0px solid;
    -webkit-box-flex: 0;
    flex: 0 0 50%;
}

.bid .item-info-area .filter-info-tab .nav-tabs .active a{
    background-color: var(--orange-c);
}


.nav-tabs .active {
    background-color: var(--orange-c);
}

.nav-tabs .tab-title {
    
}

.nav-tabs .tab-title a{
    color: white;
    font-weight: 600;
}

.item-infor-area .tab-content .item-infor .des {
    font-weight: 700;
    color: #ccd0d5;
}

.item-infor-area .tab-content .item-infor div{  
    box-sizing: content-box;
}


.item-infor-area .tab-content .item-infor div:nth-child(2n-1) {
    background-color: var(--step-c);
}

.bid tbody, td, tfoot, th, thead, tr {
    border-style: none;
}

.bid h3 {

    margin-block-start: 0;
    margin-block-end: 0;
}